@font-face {
    font-family: 'CooperHewitt';
    src: url('assets/fonts/CooperHewitt-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	color: #222;
	font-family: CooperHewitt;
}

body {
	min-height: 100vh;
	background-color: #938BA1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

ul {
	width: 700px;
	max-width: 95vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

li {
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 10px;
	
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

a {
	width: 90%;
	height: 90%;
	color: #222;
	padding: 2%;
	border-radius: 10%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	transition: all 0.6s ease-in-out;
}

a:hover {
	scale: 1.1;
	background-color: #B0C6CE;
}

a img {
	width: 60%;
	height: 60%;
	filter: invert(10%);
}

a p {
	text-align: center;
}