$color-background: #8789C0;
$color-icon: lighten($color-background, 10%);

@mixin centered-content($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
	transition: all 0.5s;
}

body {
	height: 100vh;
	background-color: $color-background;

	@include centered-content();
}

.email {
	height: 40px;
	width: max-content;
	@include centered-content(row);

	&__logo {
		height: 100%;
		width: 40px;
		background-color: $color-icon;
		@include centered-content(row);
		position: relative;

		svg {
			position: absolute;
			width: 75%;
		}
	}

	&__input {
		height: 100%;
		width: 150px;
		border: none;
		padding: 0 1rem;
	}

	&.valid {
		.at * {
			opacity: 0;
			animation: reverseAnimate 4s ease-in-out;
			// stroke-dashoffset: 1800;
		}

		.ok * {
			opacity: 100%;
			z-index: 1;
			animation: animate 6s ease-in-out;
			// stroke-dashoffset: 0;
		}
	}

	&.invalid {
		.at * {
			opacity: 100%;
			z-index: 1;
			animation: animate 6s ease-in-out;
			// stroke-dashoffset: 0;
		}
		
		.ok * {
			opacity: 0;
			animation: reverseAnimate 4s ease-in-out;
			// stroke-dashoffset: 1800;
		}
	}

	&.empty {
		.at * {
			opacity: 100%;
			z-index: 1;
			animation: animate 6s ease-in-out;
			// stroke-dashoffset: 0;
		}
		
		.ok * {
			opacity: 0;
			animation: reverseAnimate 4s ease-in-out;
			// stroke-dashoffset: 1800;
		}
	}
}

svg * {
	position: relative;
	transition: all 5s;
	transition: opacity 1s;
	stroke: black;
	stroke-dasharray: 1800;
}

@keyframes animate {
	0% {
		stroke-dashoffset: 1800;
	}
	
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes reverseAnimate {
	0% {
		stroke-dashoffset: 0;
	}
	
	100% {
		stroke-dashoffset: 1800;
	}
}